.ody{
    background-color: lightgray;
}

.body{
    height: auto;
    background-color: white;
    margin: auto;
    padding: 10px;
}

img{
    background-color: ;
    height:200px;
    width:200px;
    margin: 20px 0px 20px 00px;

}
